body {
    background-color: white;
}

td {g
    width: 150px;
    height: 25px;
    font-size: 20px;
    color: black;
    text-align: center;
}

.table-striped > tbody > tr:nth-child(even) {
     background-color: #BDBDBD;
 }

.table-striped > thead > tr:nth-child(1) {
    background-color: #CE34F3;
}